.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
  }

  .btn-details{
    background-color: white;
    color: black;
    border: 2px solid #3678f4;
    transition-duration: 0.4s;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin:5px;
  }

  .btn-details:hover {
    background-color: #3678f4; 
    color: white;
  }